@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Google Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Minimal styling */
* {
  border-radius: 0;
}

button, input, select {
  border-radius: 2px;
}
